
# backend dependencies
fastapi
uvicorn
python-dotenv
python-multipart
pydantic

# for data validation and settings management
requests
urllib3

# data processing and visualization
pandas
matplotlib
openpyxl
tabulate

# for file parsing and report generation
pdfplumber
python-docx
weasyprint 
markdown
htmldocx

# for vector database and embeddings
chromadb
sentence-transformers
langchain-text-splitters
charset-normalizer

# TODO: review nest asyncio usage and remove if not needed
# added to fix RuntimeError in Jupyter when running async code (like LLM calls) 
# in the same event loop
nest-asyncio
